<main class="clearfix" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <aside id="sidebar">

        <div class="instructions-headers">
            <nav>
                <a href="#install" ng-click="do($event)">Installation</a>
                <a href="#signup" ng-click="do($event)">Sign Up</a>
                <a href="#signin" ng-click="do($event)">Sign In</a>
                <a href="#add-child" ng-click="do($event)">Add Child</a>
                <a href="#monitor-child" ng-click="do($event)">Monitor Child</a>
                <a href="#settings" ng-click="do($event)">Settings</a>
            </nav>
        </div>

        <div class="onoffswitch-wrapper">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="android-web" ng-checked="isApp" ng-click="setInstructionType($event)">
                <label class="onoffswitch-label" for="android-web">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>

    </aside>


    <div class="instructions" id="content">

        <!--**********************************************************************************************-->
        <article id="install">
            <h1>Installation</h1>

            <alert type="info">Find me on the Google Play Store.</alert>

            <h2>Individual Use</h2>
            <p>The application can be used for personal use for those who wish to put texting while driving limits on themselves.</p>

            <h2>Parental Use</h2>
            <p>The application can be used by parents to enforce no texting while driving.</p>
        </article>
        <!--**********************************************************************************************-->
        <article id="signup">
            <h1>Sign Up</h1>

            <p>Accounts are for parents to monitor their children's devices.</p>

            <ol>
                <li ng-show="isApp">Install application on phone.</li>
                <li ng-show="isApp">Open application and select login.</li>
                <li ng-show="isApp">Select Sign Up button.</li>

                <li ng-hide="isApp">Navigate to <a href="yolosafely.com">website</a></li>
                <li ng-hide="isApp">Select Parents button</li>
                <li ng-hide="isApp">Select Sign Up button</li>

                <li>Fill out form and select register button.</li>
            </ol>

            <alert type="danger" ng-hide="isApp">Parents registering from website must <a href="#settings" ng-click="do($event)">pair</a> their own physical device in order to receive push notifications from their children.</alert>

        </article>
        <!--**********************************************************************************************-->
        <article id="signin">
            <h1>Sign In</h1>

            <p>Sign into your account to add and remove devices associated with children, change account settings, and monitor childrens' devices.</p>

            <ol>
                <li ng-show="isApp">Open Application</li>
                <li ng-show="isApp">Select Sign In button</li>

                <li ng-hide="isApp">Navigate to <a href="yolosafely.com">website</a></li>
                <li ng-hide="isApp">Select Parents button</li>

                <li>Fill out form using username and password.</li>
                <li>Select Sign In button.</li>
            </ol>
        </article>
        <!--**********************************************************************************************-->
        <article id="add-child">
            <h1>Add Child</h1>

            <p>Adding children allows the parent to receive notifications from the child.</p>

            <ol ng-show="isApp">
                <li>Sign In, on the child's device.</li>
                <li>Select the phone icon on the menu.</li>
                <li>Add a name associated with the child's device</li>
                <li>Select add device button</li>
                <li>Sign Out using the back arrow on the menu!</li>
            </ol>

            <alert type="danger" ng-hide="isApp">Children must be added to the parent's account using the child's physical device. The website can only help parents monitor children they have already added.</alert>
        </article>
        <!--**********************************************************************************************-->
        <article id="monitor-child">
            <h1>Monitor Children</h1>


            <p>Monitoring children allows the parent to edit or delete children's devices associated with their account.
                In addition the parent can remotely lock a child device with a password and expiration
                ranging form 5 minutes to no expiration.</p>

            <ol>
                <li>Sign In</li>
                <li>Swipe left on child</li>
                <li>Select the lock icon </li>
                <li>Fill out form with password and expiration.</li>
                <li>Select lock button.</li>
            </ol>
        </article>
        <!--**********************************************************************************************-->
        <article id="settings">
            <h1>Settings</h1>

            <p>Allows parent to update notification preferences, message frequency, account settings </p>

            <alert type="info" ng-hide="isApp">Parents registered via the website must pair their device to their account in the settings menu in order to receive push notifications from their children. </alert>

            <ol>
                <li>Sign In</li>
                <li ng-show="isApp">Select the settings icon on the menu.</li>
                <li ng-hide="isApp">Select the drop down arrow next to your username.</li>
                <li ng-hide="isApp">Select settings.</li>
            </ol>

            <h2>Notification Prefrences</h2>
            <p>Allows parents to determine which type of notifications they prefer to receive including email, text message, and push notifications.</p>

            <h2>Reminder Frequency</h2>
            <p>Allows the parent to determine the minimum amount of time that must elapse since the last message to receive another message.</p>

            <h2>Account Settings</h2>
            <p>Allows the parent to edit the password, phone number, and email associated with their account.</p>

            <h2 ng-hide="isApp">Pair Device</h2>
            <p ng-hide="isApp">Allows the parent associate a physical device with their account in order to receive push notifications from children's devices.</p>

        </article>
        <!--**********************************************************************************************-->

    </div>
 </main>