<div class="container" ng-hide="sessionUser">
    <div class="signup" ng-hide="isNewMember">
        <alert type="danger">Registering on the web requires pairing a physical device to receive push notifications.<a href="#instructions">Read here</a></alert>
        <form class="form-user form-signup clearfix">
            <p>
                <input type="email" id="email" name="email" placeholder="Email" ng-model="user.email">
                <input type="text" name="username" id="username" placeholder="Username" ng-model="user.username">
                <input type="password" name="password" id="psswrd" placeholder="Password" ng-model="user.password">
                <input type="phone" name="phone" id="phone" placeholder="Phone" ng-model="user.phone">
            </p>
            <button type="submit" name="submit" ng-click="signUp(user)">
                <i class="fa fa-arrow-right"></i>
                <span>Register</span>
            </button>
        </form>
        <a ng-click="toggleForm()">Already a User</a>
    </div>

    <div class="signin" ng-hide="!isNewMember">
        <form class="form-user form-signin clearfix">
            <p>
                <input type="text" id="login" name="login" placeholder="Username" ng-model="user.username">
                <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password">
            </p>
            <button type="submit" name="submit" ng-click="logIn(user)">
                <i class="fa fa-arrow-right"></i>
                <span>Sign in</span>
            </button>
        </form>
        <a ng-click="toggleForm()">Sign Up</a>
    </div>
</div>

<div class="container" ng-show="sessionUser">

    <ul class="children-devices">
        <li class="row" data-ng-repeat="device in $parent.sessionUser.children()">
            <input type="text" name="childName" placeholder="{{device.name}}" ng-model="device.name">
            <input type="text" name="childName" placeholder="{{device.password}}" ng-model="device.password">
                <span>
                    <a class="btn btn-danger" ng-click="deleteChild($index)">
                        <i class="fa fa-trash-o fa-lg"></i> Delete
                    </a>

                     <a class="btn btn-primary" ng-click="editChild($index)">
                         <i class="fa fa-edit fa-lg"></i> Save
                     </a>


                    <div ng-controller="LockController" style="display:inline;">
                        <script type="text/ng-template" id="lock_modal.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Lock</h3>
                            </div>
                            <div class="modal-body">
                                <h2>Expiration</h2>
                                <div class="range range-custom">
                                    <input type="range" min="0" max="20" class="reminder-freq" value="{{ $scope.exprs.expiration_reset }}" ng-model="exprs.expiration_reset"/>
                                    <output id="rangevalue">{{ exprs.expiration_reset }}</output>
                                </div>
                                </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" ng-click="cancel()">Close</button>
                                <button class="btn btn-primary" ng-click="lockChild($scope.index, $scope.channel)">Lock</button>
                            </div>
                        </script>
                        <a class="btn btn-primary" ng-click="open(device.channel, $index)">
                            <i class="fa fa-lock fa-lg"></i> Lock
                        </a>
                    </div>


                </span>
        </li>
        <div class="or-spacer">
            <div class="mask"></div>

        </div>
    </ul>
</div>