<div class="container" ng-hide="currentUser">
    <form ng-hide="isNewMember">
        <h1>Sign up</h1>
        Email: <input type="email" ng-model="user.email" /><br />
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        Phone: <input type="phone" ng-model="user.phone" /><br />

        <button class="btn btn-success" ng-click="signUp(user)">Sign up</button>
        <button class="btn btn-primary" ng-click="toggleForm()">Sign in</button>
    </form>

    <form ng-hide="!isNewMember">
        <h1>Sign in</h1>
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        <button class="btn btn-primary" ng-click="logIn(user)">Sign in</button>
        <button class="btn btn-success" ng-click="toggleForm()">Register</button>
    </form>
</div>

<div class="container" ng-show="currentUser">


    <div class="btn-group open">
        <a class="btn btn-primary"><i class="fa fa-user fa-fw"></i> {{currentUser.get('username')}}</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-caret-down"></span></a>
        <ul class="dropdown-menu">
            <li><a><i class="fa fa-pencil fa-fw"></i> Update</a></li>
            <li><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
            <li class="divider"></li>
            <li><a ng-click="logOut()"><i class="i"></i> Sign Out</a></li>
        </ul>
    </div>

    <ul class="children-devices">
        <li data-ng-repeat="device in children().devices">{{device.name}}
            <span data-ng-repeat="device in children().devices">
                <a class="btn btn-danger" ng-click="">
                    <i class="fa fa-trash-o fa-lg"></i> Delete
                </a>

                 <a class="btn btn-primary" ng-click="">
                     <i class="fa fa-edit fa-lg"></i> Edit
                 </a>

                  <a class="btn btn-primary" ng-click="remoteLock(device.channel)">
                      <i class="fa fa-lock fa-lg"></i> Lock
                  </a>
            </span>
        </li>
        <div class="or-spacer">
            <div class="mask"></div>

        </div>
    </ul>


</div>


<!--<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>-->