<div class="container">

    <form ng-hide="currentUser || isNewMember">
        <h2>Sign up</h2>
        Email: <input type="email" ng-model="user.email" /><br />
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        Phone: <input type="phone" ng-model="user.phone" /><br />

        <button class="btn btn-success" ng-click="signUp(user)">Sign up</button>
        <button class="btn btn-primary" ng-click="toggleForm()">Sign in</button>
    </form>

    <form ng-hide="currentUser || !isNewMember">
        <h2>Sign in</h2>
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        <button class="btn btn-primary" ng-click="logIn(user)">Sign in</button>
        <button class="btn btn-success" ng-click="toggleForm()">Register</button>
    </form>
</div>

<div ng-show="currentUser">

    <h2>Welcome {{currentUser.get('username')}}</h2>
    <p>You have been successfully logged in</p>
    <button ng-click="logOut()">Log out</button>
</div>


<!--<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>-->