body {
  background: @darker-grey url(@url);
  -webkit-font-smoothing: antialiased;
}

.row {
   padding: 0;
   margin-right: 0;
   margin-left: 0;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.center {
  text-align: center;
  div {
    display: inline-block;
  }
}

.modal-header {
  text-align: center;
  text-transform: uppercase;
}

.appHost {
  background: #fff url(@url);
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 0 0 8px black;
  width: 100%;
  min-height: 100vh;
  height: auto;
  transition: all 1.0s ease;
}

nav {
  text-align: center;
  list-style: none;
  font-size: 36pt;

  div {
    display: inline;
  }
}

.hero
{
  h1 {
    font-family: "Oswald" sans-serif;
    font-size: 22vw;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
    abbr {
      border-bottom: none;
    }
  }
}

.headers {
  text-align: center;

  h1 {
    font-family: "Oswald" sans-serif;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
  }

  p {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 26px;
    text-align: center;
  }
}

.services {
  border-top: 1px solid #ccc;
}

svg {
  heigth : 100%;
  width: 100%;
}


@-webkit-keyframes fill {
  0% {
    fill: @lightest-color;
  }
  20% {
    fill: @lighter-color;
  }
  40% {
    fill: @color;
  }
  60% {
    fill: @darker-color;
  }
  80% {
    fill: @color;
  }
  100% {
    fill: @lighter-color;
  }
}

@-moz-keyframes fill {
  0% {
    fill: @color;
  }
  50% {
    fill: @darker-color;
  }
  100% {
    fill: @darkest-color;
  }
}

@-ms-keyframes fill {
  0% {
    fill: @color;
  }
  50% {
    fill: @darker-color;
  }
  100% {
    fill: @darkest-color;
  }
}

@-o-keyframes fill {
  0% {
    fill: @color;
  }
  50% {
    fill: @darker-color;
  }
  100% {
    fill: @darkest-color;
  }
}

@keyframes fill {
  0% {
    fill: @color;
  }
  50% {
    fill: @darker-color;
  }
  100% {
    fill: @darkest-color;
  }
}

.headers path {
  pointer-events: none;
}

.headers path:first-child {
  pointer-events: bounding-box !important;
}

.headers path:first-child:hover {
  -webkit-animation: fill .5s steps(4) infinite;
  -moz-animation:    fill .5s steps(4) infinite;
  -ms-animation:     fill .5s steps(4) infinite;
  animation:         fill .5s steps(4) infinite;
}


/*************************************************************

      Footer

**************************************************************/

footer {
  border-top: 1px solid #ccc;
}

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: @color;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-effect-8 .hi-icon {
  background: rgba(255,255,255,0.1);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.no-touch .hi-icon-effect-8 .hi-icon:hover {
  background: rgba(255,255,255,0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: @darker-color;
  text-decoration: none;
}

.hi-icon-effect-8 .hi-icon:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px @color, 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


@media screen and (max-width: 1199px) {
  .headers svg {
    width: 60%;
  }
}

