//Strings
@url: "//d36xtkk24g8jdx.cloudfront.net/bluebar/4ea466d/images/shared/noise-2.png";
@threeDee: ~"preserve-3d";

//Font Family
@import url(http://fonts.googleapis.com/css?family=Puritan:400,700|Ribeye|Acme|Monoton|Oswald);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,600);
//Font Colors
@color: #2E75AB;
@darker-color: darken(@color, 20%);
@spin-color: lighten(spin(@color, 10), 30%);
@header-color: #1B1E29;

//Background Colors
@footer: rgba(35,83,138,1);
@white: #fff;
@grey: #edeeef;
@dark-grey: #d8d8d8;

//Dimensions
@size: 30px;
@offset: 4px;

/*************************************************************

      Utilities

**************************************************************/

.transform (@rotateY, @translateZ)
{
  -webkit-transform: rotateY(@rotateY) translateZ(@translateZ);
  -moz-transform: rotateY(@rotateY) translateZ(@translateZ);
  -o-transform: rotateY(@rotateY) translateZ(@translateZ);
  -ms-transform: rotateY(@rotateY) translateZ(@translateZ);
  transform: rotateY(@rotateY) translateZ(@translateZ);
}

.rotate (@rotate)
{
  -webkit-transform: rotate(@rotate);
  -moz-transform: rotate(@rotate);
  -o-transform: rotate(@rotate);
  -ms-transform: rotate(@rotate);
  transform: rotate(@rotate);
}

.perspective(@perspective)
{
  -webkit-perspective: @perspective;
  -moz-perspective: @perspective;
  -o-perspective: @perspective;
  -ms-perspective: @perspective;
  perspective: @perspective;
}

.perspective-origin(@percent, @zoom)
{
  -webkit-perspective-origin: @percent @zoom;
  -moz-perspective-origin: @percent @zoom;
  -o-perspective-origin: @percent @zoom;
  -ms-perspective-origin: @percent @zoom;
  perspective-origin: @percent @zoom;
}

.preserve-3d (@threeDee) {
  -webkit-transform-style: @threeDee;
  -moz-transform-style: @threeDee;
  -o-transform-style: @threeDee;
  transform-style: @threeDee;
}

.transform-translate(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  -moz-transform: translate3d(@x, @y, @z);
  -o-transform: translate3d(@x, @y, @z);
  -ms-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}

.gradient (@origin, @start, @start-percent, @stop, @stop-percent) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start @start-percent, @stop @stop-percent);
  background-image: -moz-linear-gradient(@origin, @start @start-percent, @stop @stop-percent);
  background-image: -o-linear-gradient(@origin, @start @start-percent, @stop @stop-percent);
  background-image: -ms-linear-gradient(@origin, @start @start-percent, @stop @stop-percent);
  background-image: linear-gradient(@origin, @start @start-percent, @stop @stop-percent);
}


.border-radius (@radius)
{
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}
//x-offset px, y-offset px, blur px, color
.text-shadow (@shadow)
{
  -webkit-text-shadow: @shadow @shadow;
  -moz-text-shadow: @shadow @shadow;
  -o-text-shadow: @shadow @shadow;
  -ms-text-shadow: @shadow @shadow;
  text-shadow: @shadow @shadow;
}

.box-shadow (@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow:    @shadow;
  box-shadow:         @shadow;
}

/*
    grayscale, invert, sepia, contrast, saturate (%)
    brightness(real)
    blur(px)
    hue-rotate(deg)
*/

.blur(@amount) {
  -webkit-filter: blur(@amount);
  -moz-filter: blur(@amount);
  -o-filter: blur(@amount);
  -ms-filter: blur(@amount);
  filter: blur(@amount);
}

.brightness(@amount) {
  -webkit-filter: brightness(@amount);
  -moz-filter: brightness(@amount);
  -o-filter: brightness(@amount);
  -ms-filter: brightness(@amount);
  filter: brightness(@amount);
}

.contrast(@amount) {
  -webkit-filter: contrast(@amount);
  -moz-filter: contrast(@amount);
  -o-filter: contrast(@amount);
  -ms-filter: contrast(@amount);
  filter: contrast(@amount);
}

.invert(@amount) {
  -webkit-filter: invert(@amount);
  -moz-filter: invert(@amount);
  -o-filter: invert(@amount);
  -ms-filter: invert(@amount);
  filter: invert(@amount);
}

.saturate(@amount) {
  -webkit-filter: saturate(@amount);
  -moz-filter: saturate(@amount);
  -o-filter: saturate(@amount);
  -ms-filter: saturate(@amount);
  filter: saturate(@amount);
}

.hue-rotate(@amount) {
  -webkit-filter: hue-rotate(@amount);
  -moz-filter: hue-rotate(@amount);
  -o-filter: hue-rotate(@amount);
  -ms-filter: hue-rotate(@amount);
  filter: hue-rotate(@amount);
}

.grayscale(@amount) {
  -webkit-filter: grayscale(@amount);
  -moz-filter: grayscale(@amount);
  -o-filter: grayscale(@amount);
  -ms-filter: grayscale(@amount);
  filter: grayscale(@amount);
}

.sepia(@amount) {
  -webkit-filter: sepia(@amount);
  -moz-filter: sepia(@amount);
  -o-filter: sepia(@amount);
  -ms-filter: sepia(@amount);
  filter: sepia(@amount);
}

/*************************************************************

      End of Utilities

**************************************************************/


body {
  background: @dark-grey url(@url);
  -webkit-font-smoothing: antialiased;
}

row {
  padding: 0;
}

.appHost {
  background: @grey url(@url);
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 0 0 8px black;
  min-height: 100vh;
  height: auto;
  transition: all 1.0s ease;

}


.appHost:hover {
  box-shadow: 0 0 15px black;
}

.hero
{
  h1 {
  font-family: "Oswald" sans-serif;
  font-size: 212px;
  text-align: center;
  text-transform: uppercase;
    abbr {
      border-bottom: none;
    }
  }

  //font-size: 72px;
  //.text-shadow(-1px);
}

nav {
  text-align: center;
  list-style: none;
  font-size: 36pt;

}

.headers {
  text-align: center;

  h1 {

    font-family: "Oswald" sans-serif;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
  }

  p {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 26px;
    text-align: center;
  }
}

svg {
  heigth : 100%;
  width: 100%;
}

svg > path:first-child:hover {
  fill: #4575a4 !important;
}


.user-settings{
  position: relative;
  padding-bottom: 75px;

  .btn-group {
    position: absolute;
    right: 0;padding-right: 25px;
  }
}

/*************************************************************

      Children List

**************************************************************/


.children-devices {
  list-style: none;
  padding: 0;
}

.children-devices li span {
  float: right;
}



//List Border

.or-spacer {
  margin-top:25px;
  width:100%;
  position:relative;
  transition: all 1.0s ease;

  .mask {
    overflow:hidden;
    height:20px;
    &:after {
      content:'';
      display:block;
      margin:-25px auto 0;
      width:100%;
      height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
  span {
    width:@size; height:@size;
    position:absolute;
    bottom:100%;
    margin-bottom:-@size/2;
    left:50%;
    margin-left:-@size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:@white;
  }
  span i {
    position:absolute;
    top:@offset;
    bottom:@offset;
    left:@offset;
    right:@offset;
    border-radius:100%;
    border:1px dashed #aaa;
    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

.or-spacer span:hover{
  i {
    color: #fff;
  }
  background-color: @footer;
}


#logOutButton {
  text-align: center;

}




