//Strings
@url: "//d36xtkk24g8jdx.cloudfront.net/bluebar/4ea466d/images/shared/noise-2.png";
@threeDee: ~"preserve-3d";

//Font Family
@import url(https://fonts.googleapis.com/css?family=Puritan:400,700|Ribeye|Acme|Monoton|Oswald);
@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


//Font Colors
@color: #4575a4;
@darker-color: darken(@color, 20%);
@darkest-color: darken(@color, 80%);

@lighter-color: lighten(spin(@color, 10), 30%);
@lightest-color: lighten(spin(@color, 2), 50%);

@header-color: #1B1E29;


//Background Colors
@footer: rgba(35,83,138,1);
@white: #fff;
@grey: #edeeef;
@darker-grey: #d8d8d8;

//Dimensions
@size: 30px;
@offset: 4px;