<!DOCTYPE html>
<html lang="en" ng-app="YoloApp" class="no-js">
<head>
    <title>Yolo</title>
    <meta name="viewport" content="width=device-width" />
    <link href="styles/styles.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="appHost container">
        <div class="row">
            <nav ng-controller="NavigationController">
                <a href="#/home" class="btn btn-primary"><i class="fa fa-home"></i>Home</a>
                <a href="#/instructions" class="btn btn-primary"><i class="fa fa-book"></i>Docs</a>
                <a href="#/parents" class="btn btn-primary" ng-hide="sessionUser"><i class="fa fa-user"></i>Parents</a>

                <div ng-controller="SettingsController">
                    <script type="text/ng-template" id="add_modal.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{ sessionUser.username() }} Settings</h3>
                        </div>
                        <div class="modal-body">

                            <h4>Notification Preferences</h4>

                            <div class="row">
                                <label>Push Notifications</label>
                                <div class="onoffswitch-wrapper">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff-push" ng-checked="{{ sessionUser.receivePushNotifications() }}" ng-click="setReceivePushNotifications($event)">
                                        <label class="onoffswitch-label" for="onoff-push">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label>Emails</label>
                                <div class="onoffswitch-wrapper">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff-email" ng-checked="{{ sessionUser.receiveEmails() }}" ng-click="setReceiveEmails($event)">
                                        <label class="onoffswitch-label" for="onoff-email">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label>Text Messages</label>
                                <div class="onoffswitch-wrapper">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff-sms" ng-checked="{{ sessionUser.receiveSMS() }}" ng-click="setReceiveSMS($event)">
                                        <label class="onoffswitch-label" for="onoff-sms">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <h4>Reminder Frequency</h4>

                            <div class="range range-custom">
                                <input type="range" min="0" max="20" class="reminder-freq" value="{{ sessionUser.frequency() }}" ng-change="setFrequency(data.numberSelection)" ng-model="data.numberSelection"/>
                                <output id="rangevalue">{{ phrases[data.numberSelection] }}</output>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" ng-click="cancel()">Close</button>
                        </div>
                    </script>

                    <div ng-show="sessionUser">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <a href="#/parents" class="btn btn-primary"><i class="fa fa-user fa-fw"></i> {{ sessionUser.username() }}</a>
                            <a class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="open()"><i class="fa fa-cog fa-spin"></i> Settings</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logOut()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </nav>
        </div>


        <div class="container">
            <div ng-view class="row"></div>
        </div>

    </div>
    <script src="scripts/_libs/classie.js"></script>
    <script src="scripts/_libs/cbpScroller.js"></script>
    <script src="scripts/_libs/requirejs/require.js" data-main="scripts/main"></script>
</body>
</html>