<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!--<rewrite>
        <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="seeOther" url="https://{HTTP_HOST}/{R:1}"  />
        </rule>
        </rewrite>-->
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
        </staticContent>
    </system.webServer>
</configuration>