<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions><add input="{HTTPS}" pattern="^OFF$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
        </staticContent>
    </system.webServer>
</configuration>